<%- include('header'); -%>


        <h3>Welcome to the Dictionary App</h3>
    <h5>Search for words and find their meaning</h5>
        <form action="/result" method="post">
            <input name="search" class="search-input" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>
          
 
  
    <%- include('footer'); -%>

   